{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block copy %}
        <header class="homepage-header">
            <div>
                <h1>Igala Translator</h1>
                <ul>
                    <li>Contact</li>
                    <li>Projects</li>
                    <li>Translate</li>
                    <li>Home</li>
                </ul>
            </div>

            <h2>From whispers to <span style="color: rgba(49, 170, 69, 1);">global</span> <br>conversations, Lingua<br>
                Verba speaks your <span style="color: rgba(65, 232, 92, 1);">Igala</span></h2>
        </header>
{% endblock %}

{% block content %}
    <section class="first-section-home-page">
        <div class="first-section-copy-1">
            <h3>Bridging Cultures</h3>
            <p>Welcome to the avant-garde of communication. Our<br>
                language translator revolutionizes the way you break<br>
                language impediments.<br>

                Convey thoughts, strike conversations, or nation-hop<br>
                with your newly gained multilingual abilities. It’s<br>
                language proficiency, sans the efforts!
            </p>
        </div>

        <div class="first-section-copy-2">
            <h3>Ready to open new<br>
            gateways in your<br>
            multilingual journey?
            </h3>
            <button class="learn-more-button"><a>Learn more</a></button>
            <button class="learn-more-button">Translate</button>
        </div>
    </section>
    <section class="second-section-home-page">
        <div>
            <h3>Get started</h3>
            <p>Ready to explore the tech universe with us?  Beam your<br>
            business and join the Tekk Collective revolution today!
            </p>
            <button><a>Contact Us</a></button>
        </div>
    </section>
{% endblock %}